*
{margin: 0; padding: 0;}

#javascript-nav header
{
    font-size: 'Cambria', serif;
    color: ivory;
    font-size: 45px;
    text-align: center;
    background: darkslategray;
}

header img
{
    height: 40px;
    width: 40px;
    vertical-align: top;
    margin: 8px;
}

#navbar p
{
    color: ivory;
    margin-top: 5px;
    text-align: center;
    font-family: 'Calibri', sans-serif;
}

.row .source
{
    font-family: 'Cambria', serif;
    font-size: 15px;
    color: ivory;
}

.nav-link a 
{
    text-decoration: none;
    color: ivory;
    font-size: 15px;
}

.row a:hover
{
    color: lightblue;
}

#navbar
{
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkslategrey;
    overflow-x: hidden;
    padding-top: 20px;
}

.nav-bar li
{ 
    list-style-type: none;
}

.nav-bar a
{
    margin-top: 20px;
    padding: 35px 8px 6px 16px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cambria', serif;
    font-size: 25px;
    color: ivory;
    display: block;
    text-align: left;
}

.nav-bar a:hover 
{
    color: lightblue;
    transform: scale(1.05);
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

@media screen and (max-height: 450px) {
    #navbar {
        padding-top: 15px;
    }

    #navbar a {
        font-size: 18px;
    }
}

p {
    font-family: 'Calibri', sans-serif;
}

/* Introduction Section */

#introduction
{
    margin: 20px 20px 20px 375px;
    padding: 10px 10px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#introduction header
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    font-weight: bold;
    color: ivory;
    text-align: center;
    background: slategray;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

#introduction p
{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    margin: 15px;
}

#introduction li
{
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    margin: 0 20px 20px 60px;
}

/* Basics Section */

#basics
{
    margin: 20px 20px 20px 375px;
    padding: 10px 10px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#basics header {
    font-family: 'Cambria', serif;
    font-size: 25px;
    font-weight: bold;
    color: ivory;
    text-align: center;
    background: slategray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#basics p {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    margin: 15px;
}

#basics .row h1
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    margin:20px;
}

hr
{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: darkgray;
}

code
{
    margin: 20px;
    font-size: 15px;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: lightblue;
    padding:15px;
    margin: 20px;
}

.row li
{
    margin: 0 10px 20px 60px;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

/* Javascript Building Blocks Section */

#building-blocks 
{
    margin: 20px 20px 20px 375px;
    padding: 10px 10px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#building-blocks .header-intro header 
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    font-weight: bold;
    color: ivory;
    text-align: center;
    background: slategray;
    border-radius: 4px;
}

#building-blocks p {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    margin: 15px;
}

#building-blocks .row h1 {
    font-family: 'Cambria', serif;
    font-size: 25px;
    margin: 20px;
}

/*Javascript Objects Section*/

#objects 
{
    margin: 20px 20px 20px 375px;
    padding: 10px 10px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#objects .header-intro header 
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    font-weight: bold;
    color: ivory;
    text-align: center;
    background: slategray;
    border-radius: 4px;
}

#objects p 
{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    margin: 15px;
}

#objects .row h1 
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    margin: 20px;
}

/*Clien-side Web APIs Section*/

#client-side 
{
    margin: 20px 20px 20px 375px;
    padding: 10px 10px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#client-side .header-intro header 
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    font-weight: bold;
    color: ivory;
    text-align: center;
    background: slategray;
    border-radius: 4px;
}

#client-side p
{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    margin: 15px;
}

#client-side .row h1
{
    font-family: 'Cambria', serif;
    font-size: 25px;
    margin: 20px;
}

#client-side a
{
    color: blue;
}

#client-side a:hover
{
    text-decoration: underline;
}

#client-side .back-top
{
    text-align: center;
    background: darkslategray;
    border: 1px solid darkslategray;
    width: 150px;
    height: 25px;
    border-radius: 6px;
    float: right;
    margin: 20px;
    text-decoration: none;
}

#client-side .back-top a
{
    text-decoration: none;
    font-family: 'Calibri', sans-serif;
    color: ivory;
    font-size: 18px;
    vertical-align: middle;
}

#client-side .back-top:hover
{
    background-color: lightblue;
    color: black;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

#client-side .back-top a:hover
{
    color: black;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}